<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meeting_name %><br>
    <%= f.text_field :meeting_name %>
  </div>
  <div class="field">
    <%= f.label :meeting_description %><br>
    <%= f.text_field :meeting_description %>
  </div>
  <div class="field">
    <%= f.label :meeting_date %><br>
    <%= f.date_select :meeting_date %>
  </div>
  <div class="field">
    <%= f.label :agenda_id %>
    <%= f.select :agenda_id, Agenda.all.collect { |p| [p.agenda_name, p.id] } %>
  </div>
  <div class="field">
    <%= f.fields_for :meeting_has_members do |b_form| %>
    <%= b_form.label :member_id %><br>
    <%= b_form.select :member_id, Member.all.collect { |m| [m.member_name, m.id]}, :include_blank => true %><br>
    <%= b_form.label 'Mandatory_meeting_não', 'Não obrigado' %>
    <%= b_form.radio_button :meeting_mandatory, 1 %>
    <%= b_form.label 'Mandatory_meeting_sim', 'Obrigado' %>
    <%= b_form.radio_button :meeting_mandatory, 0 %><br><br>
    <%= b_form.label :meeting_presence %><br>
    <%= b_form.select(:meeting_presence, options_for_select([['Faltou', 1], ['Falta justificada', 2], ['presente', 3]])) %><br>

    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
