<div class="text-center">
    <%= form_for(@meeting) do |f| %>
      <div class="well">
          <div class="field form-group">
            <%= f.label :meeting_name, "Reunião" %><br>
            <%= f.text_field :meeting_name, class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :meeting_description, 'Descrição' %><br>
            <%= f.text_field :meeting_description, class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :meeting_date, 'Data' %><br>
            <%= f.date_select :meeting_date, class:"form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :agenda_id, 'Pauta' %><br>
            <%= f.select :agenda_id, Agenda.all.collect { |p| [p.agenda_name, p.id] }, class:"form-control" %>
          </div>
      </div>
        <%= f.fields_for :meeting_has_members do |b_form| %>
        <div class="well">
        <div class="field form-group">
          <%= b_form.label :member_id, 'Membro' %><br>
          <%= b_form.select :member_id, Member.all.collect { |m| [m.member_name, m.id]}, :include_blank => true, class:"form-control" %><br>
        </div>

        <div class="field form-group">
          <%= b_form.label 'Mandatory_meeting_não', 'Presença optativa' %>
          <%= b_form.radio_button :meeting_mandatory, 1 %><br>
          <%= b_form.label 'Mandatory_meeting_sim', 'Presença obrigatória' %>
          <%= b_form.radio_button :meeting_mandatory, 0 %><br>
        </div>

        <div class="field form-group">
          <%= b_form.label :meeting_presence, 'Presença?' %><br>
          <%= b_form.select(:meeting_presence, options_for_select([['Faltou', 1], ['Falta justificada', 2], ['Presente', 3]])) %><br>
        </div><br>
        </div>
        <% end %>

      <div class="actions">
        <%= f.submit 'Criar Reunião', class:"btn btn-success" %>
      </div>

      </div><br><br>
      <div class="col-md-12 text-center">
        <%= link_to 'Voltar', meetings_path, class: "btn btn-default" %>
      </div><br><br>

    <% end %>
</div>