<div class="container col-md-12 text-center well">
    <div class="row"><h1>Reuniões</h1></div>
</div>

<div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-4">Reunião</th>
          <th class="col-md-4">Data</th>
          <th class="col-md-4">Pauta</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @meetings.each do |meeting| %>
          <tr>
            <td class="col-md-4"><%= meeting.meeting_name %></td>
            <td class="col-md-4"><%= meeting.meeting_date %></td>
            <td class="col-md-4"><%= meeting.pega_nome %></td>
            <td><%= link_to 'Show', meeting %></td>
            <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
            <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>

<% if logged_in? %>
    <div class="container">
        <div class="row text-center col-md-12"><%= link_to 'Nova Reunião', new_meeting_path, class: "btn btn-primary" %></div>
    </div>
<% end %>