<div class="text-center well col-md-12">
  <div class="row">
        <p>
          <strong>Reunião:</strong><br>
          <%= @meeting.meeting_name %>
        </p>
        <p>
          <strong>Descrição:</strong><br>
          <%= @meeting.meeting_description %>
        </p>

        <p>
          <strong>Data:</strong><br>
          <%= @meeting.meeting_date %>
        </p>

        <p>
          <strong>Pauta:</strong><br>
          <%= @meeting.pega_nome %>
        </p>

        <p>
          <strong>Membros:</strong><br>
            <% @meeting.meeting_has_members.find_each do |m| %>
                <%= m.member.member_name %><br>
            <% end %>
        </p>
  </div>
</div>
<div class="row text-center col-md-12">
    <%= link_to 'Editar', edit_meeting_path(@meeting), class:"btn btn-default" %>
    <%= link_to 'Voltar', meetings_path, class:"btn btn-default" %>
</div>