<p id="notice"><%= notice %></p>

<p>
  <strong>Name meeting:</strong>
  <%= @meeting.name_meeting %>
</p>

<p>
  <strong>Description meeting:</strong>
  <%= @meeting.description_meeting %>
</p>

<p>
  <strong>Date meeting:</strong>
  <%= @meeting.date_meeting %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
