<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting name:</strong>
  <%= @meeting.meeting_name %>
</p>

<p>
  <strong>Meeting description:</strong>
  <%= @meeting.meeting_description %>
</p>

<p>
  <strong>Meeting date:</strong>
  <%= @meeting.meeting_date %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
