<div class="container col-md-12 text-center well">
    <div class="row"><h1>Funções</h1></div>
</div>

<div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-4">Função</th>
          <th class="col-md-4">Módulo</th>
          <th class="col-md-4">Url</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @functions.each do |function| %>
          <tr>
            <td class="col-md-4"><%= function.function_name %></td>
            <td class="col-md-4"><%= function.function_module %></td>
            <td class="col-md-4"><%= function.function_url %></td>
            <td><%= link_to 'Show', function %></td>
            <td><%= link_to 'Edit', edit_function_path(function) %></td>
            <td><%= link_to 'Destroy', function, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>

<% if logged_in? && current_user.admin? %>
    <div class="container">
        <div class="row text-center col-md-12"><%= link_to 'New Function', new_function_path, class: "btn btn-primary" %></div>
    </div>
<% end %>