<div class="text-center well">
<%= form_for(@job) do |f| %>

  <div class="field form-group">
    <%= f.label :job_name, 'Cargo'%><br>
    <%= f.text_field :job_name, class:'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Criar Cargo', class:'btn btn-success' %>
  </div><br>

      <div class="col-md-12 text-center">
        <%= link_to 'Voltar', jobs_path, class: "btn btn-default" %>
      </div><br><br>

<% end %>

</div>