<div class="text-center well">
    <%= form_for(@agenda) do |f| %>

      <div class="field form-group">
        <%= f.label :agenda_name, "Pauta" %><br>
        <%= f.text_field :agenda_name, class: "form-control" %>
      </div>
      <div class="field  form-group">
        <%= f.label :agenda_description, "Descrição" %><br>
        <%= f.text_area :agenda_description, class: "form-control"  %>
      </div>
      <div class="field  form-group">
        <%= f.label :agenda_date, "Data" %><br>
        <%= f.date_select :agenda_date, class: "form-control"  %>
      </div>

      <div class="actions col-md-12 text-center">
        <%= f.submit "Criar Pauta" ,class: "btn btn-success" %>

      </div><br><br>
      <div class="col-md-12 text-center">
      <%= link_to 'Voltar', agendas_path, class: "btn btn-default" %>
      </div><br><br>
    <% end %>
</div>