<div class="container col-md-12 text-center well">
    <div class="row"><h1>Pautas</h1></div>
</div>

<div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-4">Pauta</th>
          <th class="col-md-4">Descrição</th>
          <th class="col-md-4">Data</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @agendas.each do |agenda| %>
          <tr>
            <td class="col-md-4"><%= agenda.agenda_name %></td>
            <td class="col-md-4"><%= agenda.agenda_description %></td>
            <td class="col-md-4"><%= agenda.agenda_date %></td>
            <td><%= link_to 'Show', agenda %></td>
            <td><%= link_to 'Edit', edit_agenda_path(agenda) %></td>
            <td><%= link_to 'Destroy', agenda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>

<div class="container">
    <div class="row text-center col-md-12"><%= link_to 'Nova Pauta', new_agenda_path, class: "btn btn-primary" %></div>
</div>