<div class="text-center well col-md-12">
    <div class="row">
        <p>
          <strong>Pauta:</strong><br>
          <%= @agenda.agenda_name %>
        </p>

        <p>
          <strong>Descrição:</strong><br>
          <%= @agenda.agenda_description %>
        </p>

        <p>
          <strong>Data:</strong><br>
          <%= @agenda.agenda_date %>
        </p>

    </div><br><br>
</div>
    <div class="row text-center col-md-12">
        <%= link_to 'Editar', edit_agenda_path(@agenda), class: "btn btn-default" %>
        <%= link_to 'Voltar', agendas_path, class: "btn btn-default" %>
    </div>
