<div class="text-center col-md-12 well">
    <%= form_for(@meeting_has_member) do |f| %>

      <div class="field form-group">
        <%= f.label :meeting_id, 'Reunião' %><br>
        <%= f.select :meeting_id, Meeting.all.collect { |m| [ m.meeting_name, m.id ] }, class:'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :member_id, 'Membro' %><br>
        <%= f.select :member_id, Member.all.collect { |m| [ m.member_name, m.id ] } %>
      </div>
      <div class="field form-group">
        <%= f.label 'Meeting_mandatory_não', 'Presença optativa' %>
        <%= f.radio_button :meeting_mandatory, 1 %>
        <%= f.label 'Meeting_mandatory_sim', 'Presença obrigatória' %>
        <%= f.radio_button :meeting_mandatory, 0 %><br>
      </div>
      <div class="field form-group">
        <%= f.label :meeting_presence, 'Presença' %><br>
        <%= f.select(:meeting_presence, options_for_select([['Faltou', 1], ['Falta justificada', 2], ['Presente', 3]]), class:'form-control') %><br>
      </div>
      <div class="actions">
        <%= f.submit 'Adcionar Membro em Reunião', class:'btn btn-success' %>
      </div><br>

      <div class="col-md-12 text-center">
        <%= link_to 'Voltar', meeting_has_members_path, class: "btn btn-default" %>
      </div><br><br>

<% end %>
</div>