<div class="container col-md-12 text-center well">
    <div class="row"><h1>Membros em Reuni達o</h1></div>
</div>

<div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-6">Reuni達o</th>
          <th class="col-md-6">Membro</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @meeting_has_members.order(:member_id).each do |meeting_has_member| %>
          <tr>
            <td class="col-md-6"><%= meeting_has_member.pega_reuniao  %></td>
            <% if meeting_has_member.member_id %>
                <td class="col-md-6"><%= meeting_has_member.pega_membro  %></td>
            <% else %>
                <td class="col-md-6">N達o possui membros ainda</td>
            <% end %>
            <td><%= link_to 'Show', meeting_has_member %></td>
            <td><%= link_to 'Edit', edit_meeting_has_member_path(meeting_has_member) %></td>
            <td><%= link_to 'Destroy', meeting_has_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>

<div class="container">
    <div class="row text-center col-md-12"><%= link_to 'Adicionar Membro a uma Reuni達o', new_meeting_has_member_path, class: "btn btn-primary" %></div>
</div>