<p id="notice"><%= notice %></p>

<p>
  <strong>Meeting:</strong>
  <%= @meeting_has_member.pega_reuniao %>
</p>

  <strong>Member:</strong>
  <% if @meeting_has_member.member_id %>
    <%= @meeting_has_member.pega_membro %>
  <% else %>
    Não possui membros
  <% end %>
</p>

<%= link_to 'Edit', edit_meeting_has_member_path(@meeting_has_member) %>
<%= link_to 'Back', meeting_has_members_path %>
