<div class="text-center well">
    <%= form_for(@job_has_function) do |f| %>

      <div class="field form-group">
        <%= f.label :job_id, "Cargo" %><br>
        <%= f.select :job_id, Job.all.collect { |m| [ m.job_name, m.id ] }, class:'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :function_id, "Função" %><br>
        <%= f.select :function_id, Function.all.collect { |m| [ m.function_name, m.id ] }, class:'form-control' %>
      </div>
      <div class="actions text-center">
        <%= f.submit "Criar Relação", class:'btn btn-success' %>
      </div><br>

      <div class="col-md-12 text-center">
        <%= link_to 'Voltar', job_has_functions_path, class: "btn btn-default" %>
      </div><br><br>

    <% end %>
</div>