<div class="container col-md-12 text-center well">
    <div class="row"><h1>Listing Job Has Functions</h1></div>
</div>

<div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-6">Job</th>
          <th class="col-md-6">Function</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @job_has_functions.each do |job_has_function| %>
          <tr>
            <td class="col-md-6"><%= job_has_function.job.job_name %></td>
            <td class="col-md-6"><%= job_has_function.function_id %></td>
            <td><%= link_to 'Show', job_has_function %></td>
            <td><%= link_to 'Edit', edit_job_has_function_path(job_has_function) %></td>
            <td><%= link_to 'Destroy', job_has_function, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>

<div class="container">
    <div class="row text-center col-md-12"><%= link_to 'New Job has function', new_job_has_function_path, class: "btn btn-primary" %></div>
</div>