<p id="notice"><%= notice %></p>

<p>
  <strong>Member name:</strong>
  <%= @member.member_name %>
</p>

<p>
  <strong>Member email:</strong>
  <%= @member.member_email %>
</p>

<p>
  <strong>Member password:</strong>
  <%= @member.member_password %>
</p>

<p>
  <strong>Member Job:</strong>
  <%= @member.pega_job (@member.job_id) %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
