<div class="text-center col-md-12 well">
  <div class="row">
        <p>
          <strong>Nome:</strong><br>
          <%= @member.member_name %>
        </p>

        <p>
          <strong>Email:</strong><br>
          <%= @member.member_email %>
        </p>

        <p>
          <strong>Cargo:</strong><br>
          <%= @member.pega_job %>
        </p>

        <p>
          <strong>Reuniões: </strong><br>
          <% if @member.reuniao_vazio? %>
            <% @member.meeting_has_members.find_each do |m| %>
                <%= m.meeting.meeting_name %><br>
            <% end %>
          <% else %>
            Não está em alguma reunião
          <% end %>
        </p>
        <p>
          <strong>Faltas:</strong><br>
            <% if @member.faltas? %>
                <% @member.faltas.each do |m| %>
                    <% if m.meeting.meeting_creator == current_user.id%>
                        <%= m.meeting.meeting_name %><br>
                    <% end %>
                <% end %>
            <% else %>
            Não possui faltas
            <% end %>
        </p>
  </div>
</div><br><br>

<div class="row text-center col-md-12">
    <%= link_to 'Editar', edit_member_path(@member), class:"btn btn-default" %>
    <%= link_to 'Voltar', members_path, class:"btn btn-default" %>
</div>